@inherits LayoutComponentBase

<PageTitle>TestApp</PageTitle>

<div class="page vh-100">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="overflow-hidden">
        <article class="content overflow-auto h-100 px-4">
            @Body
        </article>
    </main>
</div>